/_examples/context/context
/_examples/context/context.exe
/_examples/bind/bind
/_examples/bind/bind.exe
/_examples/reflect/reflect
/_examples/reflect/reflect.exe
/_examples/tree/tree
/_examples/tree/tree.exe
/ox.test
/ox.test.exe

*.txt
*.log

*.bash
*.fish
*.ps1
*.zsh
