/_examples/simple/simple
/_examples/simple/simple.exe
/_examples/bind/bind
/_examples/bind/bind.exe
/_examples/reflect/reflect
/_examples/reflect/reflect.exe
/_examples/podboy/podboy
/_examples/podboy/podboy.exe
/ox.test
/ox.test.exe
*.txt
