/ox.test
/ox.test.exe

/_examples/context/context
/_examples/context/context.exe
/_examples/bind/bind
/_examples/bind/bind.exe
/_examples/reflect/reflect
/_examples/reflect/reflect.exe
/_examples/embedded/embedded
/_examples/embedded/embedded.exe
/_examples/tree/tree
/_examples/tree/tree.exe

/_examples/gen/docker/docker
/_examples/gen/docker/docker.exe
/_examples/gen/doctl/doctl
/_examples/gen/doctl/doctl.exe
/_examples/gen/gh/gh
/_examples/gen/gh/gh.exe
/_examples/gen/helm/helm
/_examples/gen/helm/helm.exe
/_examples/gen/hugo/hugo
/_examples/gen/hugo/hugo.exe
/_examples/gen/kubectl/kubectl
/_examples/gen/kubectl/kubectl.exe
/_examples/gen/podman/podman
/_examples/gen/podman/podman.exe
/_examples/gen/psql/psql
/_examples/gen/psql/psql.exe
/_examples/gen/rclone/rclone
/_examples/gen/rclone/rclone.exe

*.txt
*.log

*.bash
*.fish
*.ps1
*.zsh
